{% extends 'base.html.twig' %}
  
{% block title %}Report{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Report</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_report_index') }}"> 
                    View All Reports
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">First Name:</b>
                <p>{{ report.firstname }}</p>
                <b class="text-muted">Last Name:</b>
                <p>{{ report.Lastname }}</p>
                <b class="text-muted">Subject:</b>
                <p>{{ report.subject }}</p>
                <b class="text-muted">First Contact:</b>
                <p>{{ report.contact}}</p>
                <b class="text-muted">Description:</b>
                <p>{{ report.description }}</p>
                <b class="text-muted">Date Created:</b>
                <p>{{ report.createdAt ? report.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ report.updatedAt ? report.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
    </div>
{% endblock %}